.wrapper{
  margin: 3rem 0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  .title{
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%; /* 34.56px */
  }
}