.calc {
  .choises_items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .calc_i {
    width: 100%;
    height: 315px;
    margin-bottom: 2rem;
    border-radius: 14px;
    padding-top: 3rem;
    padding-left: 2rem;
    border: 1px solid #D9DBDF;
    background: #FFF;
    background-image: url("../../assets/icons/calc.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    .calc_inps {
      width: 845px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 1rem;

      .years {
        width: 453px;
        height: 60px;
        border-radius: 9px;
        border: 1px solid #D9DBDF;
        overflow: hidden;
        background: #F5F5F5;
        backdrop-filter: blur(8px);
        padding: 10px 20px;

        div {
          color: #A3A3A3;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 86.4%; /* 12.096px */
        }

        select {
          width: 100%;
          background: transparent;
          outline: 0;
        }
      }

      .stavka {
        width: 370px;
        height: 60px;
        border-radius: 9px;
        border: 1px solid #D9DBDF;
        background: #F5F5F5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        span {
          color: #121212;
          leading-trim: both;
          text-edge: cap;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 86.4%; /* 17.28px */
        }

        span:last-child {
          color: #121212;
          leading-trim: both;
          text-edge: cap;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 86.4%; /* 17.28px */
        }
      }

      .summa {
        width: 453px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        border-radius: 9px;
        border: 1px solid #D9DBDF;
        overflow: hidden;
        background: #F5F5F5;
        backdrop-filter: blur(8px);

        .select {
          width: 60px;
          padding: 0 12px;
          border-left: 1px solid #D9DBDF;

          select {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            outline: 0;

            border: 0;

            background: transparent;
            color: #212121;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 86.4%; /* 20.736px */
            option {
              width: 40px;
            }
          }
        }

        .sum_info {
          margin-top: 12px;
          margin-left: 20px;

          div {
            color: #A3A3A3;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 86.4%; /* 12.096px */
          }

          input {
            margin-top: 7px;
            color: #212121;
            font-variant-numeric: lining-nums proportional-nums;
            background: transparent;
            font-size: 16px;
            outline: 0;
            font-style: normal;
            font-weight: 500;
            line-height: 86.4%; /* 13.824px */
          }
        }
      }
    }
  }
}