.bank_container {
  padding: 24px;
  border-radius: 14px;
  border: 1px solid var(--stroke-1, #D9DBDF);
  background: #FFF;
  width: 231px;
  height: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text_container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;

    .procent_text {
      color: var(--main, #121212);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Raleway, serif;
      font-size: 16.296px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%;
    }

    .rub_text {
      color: var(--blu-main, #4DA7FF);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Raleway, serif;
      font-size: 12.222px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%;
    }

    .value_text {
      text-align: start;
      color: #000;
      text-align: center;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%;
    }
  }
}
@media (max-width: 480px){
  .bank_container{
    flex-shrink: 0;
  }
}