.work_item {

  padding: 24px;
  border-radius: 14px;
  border: 1px solid #D9DBDF;
  background: #FFF;

  p {
    margin-top: 1rem;
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 10px;

    .img {
      height: 49px;
      width: 49px;
      border-radius: 6px;
      background: #E0EAFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .name {
      color: #121212;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      mark {
        background: transparent;
        color: #4DA7FF;
      }
    }
  }
}

@media (max-width: 480px) {
  .work_item {
    padding: 10px;

    p {
      width: 100% !important;
    }
  }
}