.coomis {
  margin: 4rem 0;
  width: 100%;
  height: 182px;
  background: url("../../../../assets/icons/commis_back.png") no-repeat white right;
  border-radius: 14px;
  border: 1px solid #D9DBDF;

  .info {
    margin-top: 2rem;
    margin-left: 2rem;
    .title {
      color: #4DA7FF;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%; /* 27.648px */
      margin-bottom: 1rem;
    }

    p {
      width: 693px;
    }
  }
}