.main_container {
  width: 100%;
  height: 376px;
  padding-left: 88px;
  padding-top: 38px;
  margin-top: 32px;
  border-radius: 14px;
  border: 1px solid #D9DBDF;
  background: #FFF;
  background: url('../../../../assets/icons/debit_cards_img.jpg') no-repeat white right;
  background-size: 750px 376px;

  .text_container {
    display: flex;
    align-items: center;
    gap: 8px;


    color: #121212;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 86.4%;


    mark {
      background: transparent;
      color: var(--2, #B4B4B4);
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%;
    }
  }

  .main_text_container {
    margin-top: 32px;

    .little_text_cont {
      width: 673px;
      margin-top: 24px;

      p {
        color: #121212;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Raleway, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .text_cont {
      color: var(--main, #121212);
      font-family: Raleway, sans-serif;
      font-size: 46px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%;


      mark {
        background: transparent;
        color: var(--stroke-3, #4DA7FF);
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%;
      }
    }
  }
}

@media (max-width: 480px) {
  .top_container {
    display: block;
    text-align: center;
  }
  .main_container {
    padding: 10px;
    margin: 0;
    height: auto;
    background-image: none;
  }
  .text_container {
    padding: 10px;
    margin: 0;
  }
  .bottom_container {
    width: 100%;
  }
  .text_cont {
    font-size: 25px !important;
    text-align: center;
  }
  .little_text_cont{
    width: 100% !important;
  }
}