.wrap {
  margin: 6rem 0;

  .title {
    color: var(--main, #121212);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%; /* 34.56px */
    mark {
      color: #4DA7FF;
      background: transparent;
    }
  }
  .cont{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}