.wrapper {
  height: 497px;
  width: 100%;
  border-radius: 14px;
  border: 1px solid #D9DBDF;
  background: url("../../../../assets/icons/banks_back.png") right no-repeat #FFF;

  .info {
    margin-top: 2.5rem;
    margin-left: 5rem;

    .breadCrumbs {
      mark {
        background: transparent;
        color: #B4B4B4;
      }

      color: #121212;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%; /* 13.824px */
    }

    .title {
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: #121212;
      font-size: 46px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%; /* 39.744px */
      mark {
        background: transparent;
        color: #4DA7FF;
      }
    }

    .sub {
      color: #121212;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%; /* 20.736px */
    }

    .find {
      margin-top: 2rem;
      width: 680px;
      height: 207px;
      border-radius: 22px;
      border: 1px solid var(--stroke-1, #D9DBDF);
      background: #F5F5F5;
      padding: 15px;

      .inps {

      }
    }

    .inps {
      margin-top: 1rem;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 1rem;
      border-bottom: 1px solid #D9DBDF;

      .con {
        color: #121212;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%; /* 13.824px */
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .letters {
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .alph {
        display: flex;
        gap: 8.5px;

        .letter {
          color: #121212;
          font-size: 16.476px;
          font-style: normal;
          font-weight: 500;
          line-height: normal; /* 14.235px */
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      span {
        color: #121212;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%; /* 12.096px */
      }
    }
  }

}