.feedback_item {
  width: 395px;
  height: 310px;
  padding: 25px;
  border-radius: 24.155px;
  border: 1.725px solid #D9DBDF;
  background: #FFF;
  backdrop-filter: blur(16.390600204467773px);

  .date {
    color: #B4B4B4;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title {
    color: #424242;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }

  .stars {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 10px;
    justify-content: flex-start;
  }

  .text {
    margin-top: 1rem;
    overflow: hidden;
    color: #424242;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 115px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .more {
    overflow: hidden;
    color: #4DA7FF;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
  .feed{
    overflow: hidden;
    color: var(--stroke-3, #4DA7FF);
    font-variant-numeric: lining-nums proportional-nums;
    text-overflow: ellipsis;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
  }
}