.btnChange {
  border-radius: 7px;
  border: 1px solid #E0EAFF;
  background: #FFF;
  display: flex;
  width: 173px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #121212;
  leading-trim: both;
  text-edge: cap;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  line-height: 86.4%; /* 17.28px */
}