.wrapper {
  width: 278px;
  height: 320px;
  padding: 24px;
  border-radius: 7px;
  border: 1px solid #D9DBDF;
  background: #FFF;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;

    .info {
      .title {
        color: #121212;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .sub {
        color: #B4B4B4;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .star {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #121212;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .line {
    margin: 16px 0;
    height: 1px;
    background: #E0EAFF;
  }

  .of_info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span:first-child {
        color: #4DA7FF;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%; /* 12.096px */
      }

      span {
        color: #121212;
        text-align: right;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%; /* 12.096px */
      }
    }
  }

  .btn_cont {
    flex-wrap: wrap;
    display: flex;
    gap: 5px;

    .warn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 5.367px;
      border: 0.767px solid #4DA7FF;
      background: #FFF;
      box-shadow: 0px 2.299999952316284px 6.133333206176758px 0px rgba(217, 231, 250, 0.40);
      backdrop-filter: blur(7.64620304107666px);
    }
  }


}