.main_container {
  width: 100%;
  margin-top: 32px;
  height: 368px;
  border-radius: 14px;
  border: 1px solid #D9DBDF;
  background: #FFF;
  background: url('../../../../assets/icons/ipoteka_offers_bg.jpg') no-repeat white right;
  background-size: 600px 368px;
  padding-left: 88px;
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .navigation_container {
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      color: var(--main, #121212);
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%;
    }

    .grey {
      color: var(--2, #B4B4B4);
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%;
    }
  }

  .text_Container_main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .main_text {
      color: #121212;
      font-family: Raleway, sans-serif;
      font-size: 46px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%;
    }

    .text {
      width: 494px;
      color: #121212;
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Raleway, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}