.main_container {
  width: 100%;
  height: 376px;
  border-radius: 14px;
  border: 1px solid #d9dbdf;
  background: #fff;
  margin-top: 32px;
  display: flex;
}

.text_container {
  margin-left: 88px;
  margin-top: 38px;
}

.top_container {
  display: flex;
  gap: 8px;
  align-items: center;
  .black_text {
    color: #121212;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 86.4%;
  }
  .grey_text {
    color: var(--2, #b4b4b4);
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 86.4%;
  }
}

.middle_container {
  display: flex;
  margin-top: 32px;
  align-items: center;
  .bold_text {
    color: var(--main, #121212);
    font-family: "Raleway";
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%;
  }
  .blue_text {
    color: var(--stroke-3, #4da7ff);
    font-family: "Raleway";
    font-size: 46px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%;
    margin-left: 10px;
  }
}

.bottom_container {
  width: 673px;
  color: #121212;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Raleway";
  margin-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
