.stock_item {
  width: 280px;
  height: 100px;
  border-radius: 14px;
  border: 1px solid #E0EAFF;
  background: rgba(255, 255, 255, 0.60);
  backdrop-filter: blur(9.5px);
  padding: 1.2rem 1rem;
  .title{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 86.4%; /* 13.824px */
  }
  .sup{
    margin-top: 1rem;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 86.4%; /* 12.096px */
  }
}

@media (max-width: 1220px) {
  .stock_item{
    width: 230px;
  }
}