.item {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  transition: all .3s;
}

.info {
  height: 50px;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  transition: all .3s;

  img {
    transition: all .3s;
  }
}

.img_a {
  transition: all .3s;
  transform: rotate(180deg);
}

.item_a {
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  transition: all .3s;
}

.items {
  padding: 0 20px;
  height: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;

  a {
    display: block;
    font-weight: 600;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}