.likeBtn {
  cursor: pointer;
  width: 231px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 7px;
  border: 1px solid #4DA7FF;
  background: rgba(217, 231, 250, 0.40);
  color: #4DA7FF;
  leading-trim: both;
  text-edge: cap;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 86.4%; /* 10.368px */
}