.item {
  width: 280px;
  height: 160px;
  border-radius: 11.377px;
  border: 0.813px solid var(--stroke-1, #D9DBDF);
  background: #FFF;
  padding: 22px;

  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #E0EAFF;
    padding-bottom: 1rem;

    .info_i {
      .title {
        color: #000;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 86.4%; /* 15.552px */
      }

      .sub {
        margin-top: 10px;
        color: var(--2, #B4B4B4);
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 86.4%; /* 12.096px */
      }
    }
  }

  .item_info {
    margin-top: 1rem;
    .title {
      color: #000;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%; /* 12.096px */
    }

    .sub {
      margin-top: 8px;
      color: var(--2, #B4B4B4);
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%; /* 10.368px */
    }
  }
}