@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Railway',sans-serif;
}

body{
  background: rgb(245,245,245);
  padding-top: 20px;
}

.container{
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
}
