.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 14px;
  border: 1px solid #D9DBDF;
  background: #FFF;
  transition: all .3s;

  .logo {
    color: #121212;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
    transition: all .3s;

    .nav_item {
      color: #121212;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
    }

    .nav_item_active {
      color: #4DA7FF;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .3s;

    img, svg {
      transition: all .3s;
      cursor: pointer;
    }

    .active_link {
      svg {
        circle {
          stroke: #4DA7FF;
        }

        path {
          stroke: #4DA7FF;
        }
      }
    }

    a {
      transition: all .3s;

      svg:hover {
        transition: all .3s;

        circle {
          transition: all .3s;
          stroke: #4DA7FF;
        }

        path {
          transition: all .3s;
          stroke: #4DA7FF;
        }
      }
    }


  }
}

@media (max-width: 1220px) {
  .header {
    padding: 0 1rem;

    .nav {
      gap: 15px;
      margin: 2rem 0;
    }

    .icons {
      gap: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .nav {
      gap: 10px;
      margin: 2rem 0;

      .nav_item {
        font-size: 15px;
      }

      .nav_item_active {
        font-size: 15px;
      }
    }

    .icons {
      gap: 5px;
    }
  }
}

@media (max-width: 920px) {
  .header {
    .nav {

      .nav_item {
        font-size: 12px;
      }

      .nav_item_active {
        font-size: 12px;
      }
    }

  }
}

@media (max-width: 769px) {
  .header {
    display: none;
  }
}