.wrapper {
  width: 369px;
  padding: 24px 16px;
  border-radius: 14px;
  border: 1px solid var(--stroke-1, #D9DBDF);
  background: #FFF;
  .title{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }
  .inp_cont{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .bluetxt {
    color: var(--stroke-3, #4DA7FF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 86.4%; /* 15.552px */
    cursor: pointer;
  }
}