.inp[type="checkbox"] {
  transition: all 0.5s;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #4DA7FF;
}

.inp[type="checkbox"]:checked {
  border-width: 6px;
}