.wrapper {
  .title {
    text-align: center;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%;
    margin: 2rem 0;
  }

  mark {
    background: transparent;
    color: #4DA7FF;
  }

  .itemsCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;



  }
}