.item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 10px 16px;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 7px;
  border: 1px solid #B4B4B4;
  background: rgba(255, 255, 255, 0.40);
  line-height: 86.4%; /* 12.096px */
  cursor: pointer;
}
.item_active{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 10px 16px;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 7px;
  border: 1px solid #4DA7FF;
  background: rgba(204, 230, 255, 0.40);
  line-height: 86.4%; /* 12.096px */
  cursor: pointer;
}