.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .text {
    color: var(--main, #121212);
    text-align: center;
    font-family: Raleway, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 86.4%;
  }
}

.banks_container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 16px;
}

