
  .page_i {
    margin-right: auto;
    margin-left: auto;



    .select_cont {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-top: 2rem;
    }

    .offers_item_cont {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;
    }

    .btnCont {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 6rem;
    }
  }
