.intro {
  width: 100%;
  height: 415px;
  background: url("../../../../assets/icons/rating_back.png") no-repeat right white;
  border-radius: 14px;
  border: 1px solid #D9DBDF;

  .info {
    margin-top: 3rem;
    margin-left: 6rem;

    .title {
      color: #121212;
      font-size: 46px;
      font-style: normal;
      font-weight: 500;
      line-height: 86.4%; /* 39.744px */
    }

    .sub {
      margin-bottom: 2rem;
      margin-top: 2rem;
      color: #121212;
      font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .breadCrumbs {
      margin-bottom: 1rem;
      color: #121212;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 86.4%; /* 13.824px */
      mark {
        background: transparent;
        color: #B4B4B4;
      }
    }
  }

}